@import '../colors';

* {
    transition: all .2s ease;
}

.uhPlayer {
    overflow: hidden;
    background: black;
    max-height: 523px;

    &:hover{
        .vControllers {
            margin-top: -126px;
        }
    }

}


video::-webkit-media-controls {
    display:none !important;
}

video::-webkit-media-controls-enclosure {
    display:none !important;
}


.videoSpace {
    max-height: 523px;
    min-height: 450px;
    width: 100%;
    background: #000;
    transition: all .3s ease;
}

.vControllers {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(35, 31, 32, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#231F20',endColorstr='#121028' , GradientType=0);      
    
    padding: 12px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 0px;
    position: relative;
    z-index: 1000;

    

    .skeebar_container {
        background: $light-gray;
        margin-bottom: 10px;
        border-radius: 5px;
        height: 10px;
        width: 100%;
        background: hsla(213, 21%, 90%, 0.15);
        .download_progress {
            background: #dfe4ea61;
            width: 100px;
            height: 10px;
            border-radius: 5px;            

            .current_progress {
                background: $red-dark;
                width: 70px;
                height: 10px;
                border-radius: 5px;                
            }

        }
        
    }

    .timers {
        display: inline-block;
        color: white;
        padding: 4px;
        // background: red;

        #current-time {
            color: $gray;
            // background: red;
            padding-left: 1px;
            padding-right: 20px;
            transition: all .3s ease;
            width: 52px;
            text-align: left;
        }
        .duration {
            color: $gray;
        }
    }

    .btn_plyr {
        padding: 16px;
        border-radius: 8px;
        border:  none;
    }

    .volBtn {
        height: 26px;
        background: $white;
        margin-top: 3px;
        width: 7px !important;
        border: 0;
        padding: 0;
        border-radius: 12px;
    }

    .fll {
        float: left;
    }

    .flr {
        float: right;
    }

}


.fullscreenMode{
    width: 100vw;
    height: 100vh;

    .vControllers{
        position: fixed;
        bottom: 0;
        z-index: 2147483648;
        width: 100%;
        left: 0;
    }

}