<div class="navPlaceholder"></div>
<!-- nav not signed in -->

<nav class="mainNavbar">
  <div class="row">
    <div class="col-md-2 nav_first_item">
      <button class="dropdownMenu">
        <i class="fa fa-bars"></i>
      </button>
      
      <a href="<%= root_path %>"><div class="brand"></div></a>
    </div>
    <div class="col">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </div>

    <div class="col-md-4 align-right nav_last_item">
      <button class="sign_in btn">Login</button>
      <button class="sign_up btn btn-primary">Sign Up</button>
    </div>
  </div>
  
  

  

</nav>


<!-- signed in nav -->