<div class="">
<!-- add this class to the div above videoSpace -->
    <div class="videoplayer_container uhPlayer">
        

        <video autoplay="autoplay" id="videoPlayer">
            <source src="<%=  @video.media.url%>"></source>
        </video>
        <!-- , controls: true -->

        <div class="vControllers" style="display: hidden" >
            <div class="container-fuild">

                <div class="skeebar_container">
                    <div class="download_progress">
                        <div class="current_progress">
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col">
                        <button class="playPause btn_plyr pauseIcon fll mr-2"></button>
                        <button class="loopBtn loopIcon btn_plyr fll mr-2" ></button>                    
                        <button class="muteBtn mutedIcon btn_plyr fll mr-2"></button>
                        <div class="volumelevels">
                            <button class="volume-10 volBtn"></button>
                            <button class="volume-20 volBtn"></button>
                            <button class="volume-40 volBtn"></button>
                            <button class="volume-60 volBtn"></button>
                            <button class="volume-80 volBtn"></button>
                            <button class="volume-100 volBtn"></button>
                            
                            
                                                    
                        </div>
                    </div>
                    <div class="col text-align-right ml-2">
                        <div class="timers">
                                <label id="duration">00:00</label> |
                                <label id="current-time">00:00</label>
                        </div>
                        <button class="fullscreenIcon btn_plyr flr ml-2" id="btnFullscreen"></button>                                        
                        <button class="settings settingsIcon btn_plyr flr ml-2"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<button onclick="fullscreenToggle();">
    full screen
</button>

<script>
    vid = document.querySelector("#videoPlayer");    
</script>