$primary: #ff6b6b;
$primary-dark: #ee5253;
$success: #1dd1a1;
$success-dark: #10ac84;


.calculator {
	background: #ffffff;
    padding: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow : 0px 1px 5px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color='#000000') ;

    .calculator-title {
    	font-weight: 300;
    	text-transform: capitalize;
    }
}

.btn-primary {
	background: $primary !important;
	color: white !important;
	border: 0 !important;

	&:hover {
		background: $primary-dark !important;
	}
}

.btn-success {
	background: $success !important;
	color: white !important;
	border: 0 !important;

	&:hover {
		background: $success-dark !important;
	}
}


.spanSpace {
	height: 300px;
}