$primary: #ff6b6b;
$primary-dark: #ee5253;
$success: #1dd1a1;
$success-dark: #10ac84;

$yellow: #feca57;
$yellow-dark: #ff9f43;
$red: #ff6b6b;
$red-dark: #ee5253;
$green: #1dd1a1;
$green-dark: #10ac84;
$blue: #54a0ff;
$blue-dark: #54a0ff;
$purple: #5f27cd;
$purple-dark: #341f97;
$white:  #ffffff;
$light-gray: #dfe4ea;
$gray: #ced6e0;
$dark-gray: #57606f;