// .comments_form {
// 	background: #f7f7f7;
// 	padding-top: 16px;
// 	padding-bottom: 16px;
// 	border-radius: 3px;
// }

// .span_spacer_master {
// 	padding: 12px;
// }
.comments_wrapper {

	.card {
		border: 0 !important;
		border-radius: 0px !important;
		border-bottom: 1px solid #e8e8e8 !important;
		margin-bottom: 10px !important;
	}

	.card-img-top {
		height: 180px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

}

.user_avatar_circle {
	background: #e2e2e2;
	border-radius: 100%;
	width: 65px;
	height: 65px;
	margin: 0 auto;
}


.trix-button-row {
	display: none !important
}



.comments_list {
	padding-left: 50px;
}

.comment_avatar {
	width: 60px;
    height: 60px;
	// background: #efefef;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 100%;
	float: left;
	margin: 4px;
	margin-right: 20px;
}


.email_user {
	padding: 0px;
	padding-left: 0;
	margin-left: 0;
	// background: gray;
	font-weight: 600;
}

.commnent_body {
	padding-left: 60px;
	// border-bottom: 1px solid red;
	padding-bottom: 10px;
    // background: red;
    margin-bottom: 8px;
    margin-left: 30px;
}


.time_ago_comment {
	font-weight: 300;
	color: gray;
}


.trix-content {
    margin-bottom: 14px;
}