@import 'colors';

body {
	color: #222f3e;
}

// full width class
.fw {
	width: 100%;
}

.navbar {
	margin-bottom: 20px;
}

.video_list {
	width: 100%;
	background: red;
	// height: 100%;
}


.time_ago_video {
	font-weight: 300;
	text-transform: capitalize;
}

.video_item {
	width: 30%;
	height: 250px;
	background: gray;
	float: left;
	margin: 3px;

	.item_cover {
		width: 100%;
		height: 140px;
		background-position: center;
		background-size: cover;
	}
}


video {
    width: 100%;
    max-height: 523px;
    background: black;
}


.views_item {
	padding: 0;
	margin: 0;
	font-weight: 300;
	color: #222f3e;
}

.video_title {
	font-weight: 400;
}

.video_side_thumbs {

	cursor: pointer !important;


	&:hover {
		color: #222f3e;
	}

	// background: green;
	height: 100px;
	margin-bottom: 10px;

	a {
		text-decoration: none;
		color:  inherit;
	}


	p.title {
		font-weight: 600 !important;
	}

	.views {
		color: #222f3e !important;
		font-weight: 300;
	}

	.vsinfo {
		// background: red;
		height: 95px;
	}

	.thumbs {
	    margin-right: 8px;
	    height: 94px;
	    width: 168px;
		background: black;
		float: left;
		margin-right: 10px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		.duration {
			margin-top: 66px;
			margin-left: 120px;
		}
	}

	.vsinfo {
		margin-left: 5px;
		.title {
			font-size: 100%;
			font-weight: 400;
		}

		p {
			padding: 0;
			margin: 0;
		}
	}

}




.video_card {
	width: 24%;
	float: left;
	margin: 4px;
	// background: red;
	height: 290px;
	margin-bottom: 16px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);

	&:hover {
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);		
	}

	.video_thumb {
		width: 100%;
		height: 140px;
		// background: green;
		padding: 12px;
		text-align: right;
		background-size: 100%;
		background-position: center;
	}

	.video_info {
		// background: gray;
	}

	.video_title {
		height: 80px;
		// background: red;
		font-size: 90%;
		margin-top: 10px;
		font-weight: 500;
	}

	.video_stats {
		margin-top: 10px;
		text-align: center;
		color: gray;
		font-weight: 600;
		border-top: 1px solid #ececec;
		padding-top: 10px;

		.bl-1 {
			border-left: 1px solid #ececec;
		}
	}


}